.hero{
    // height: 100vh;
    min-height: 568px;
    background: url('/dist/img/hero-bg-2x.webp') no-repeat center center/cover;

    &__content{
        height: 100%;
    }
    &__heading{
        max-width: 430px;
    }
    &__text{
        max-width: 430px;
    }

}

.perfect-rate{
    min-height: 640px;
    background: url('/dist/img/perfect-rate-2x.webp') no-repeat center center/cover;

    .container{
        min-height: 640px;
    }

    &__content{
        max-width: 400px;
    }
}

.need-help__content{max-width: 500px;}

.splide{
    // background: linear-gradient(0.25turn, #b7f1f9,#0a5c79);
    // background-color: rgba($color: #0a5c79, $alpha: 1.5);

    &__slide{
        background-color: rgba($color: $color-brand, $alpha: 0.1);
        box-shadow: 0 0 10px 0px rgb(0,0,0,0.3);
        margin-block: 10px;
    }

    &__arrow {
        background-color: rgb(0,0,0,0.1);
    }
}