// colors
$blue:#007aff;
$red: #BA3B46;
$steel: #8e8e93;
$gunmetal: #4c4f59;
$steel-two:#81869f;
$battleship-grey: #70727a;
$cool-gray: #a3a3a8;

$vivid-purple: #9200ff;
$neon-blue: #00dcff;
$pumpkin-orange: #ff7100;
$ugly-yellow: #d0dc00;
$purplish-grey: #6f6e74;

$white: #ffffff;
$gray-one: #ececec;
$gray-two: #fafafa;
$gray-three: #f3f3f3;
$gray-four: #ececec;
$gray-deep: #999999;
$black: #000000;
$black-one: #292929;
$black-two: #151515;
$yellow: #ffc107;
$light-purple: #eaedfd;